
/* splash.css | https://scratch.mit.edu/splash.css */

#navigation {
  background-color: #f8ab3a;
}

.dropdown {
  background-color: #f8ab3a;
}


/* common.css | https://scratch.mit.edu/common.css */

a:hover {
  color: #e19a31;
}

a {
  color: #f8ab3a;
}

a:link, a:visited, a:active {
  color: #f8ab3a;
}
